<%= form_for [@post, @comment], :html => {:id => "comment_form"} do |f| %>

  <%= render 'shared/error', object: f.object %>

  <div class="field">
    <%= f.text_field :content, :placeholder => "Write a comment..." %>
  </div>
  <div class="actions">
    <%= f.submit "Comment", class: "btn" %>
  </div>
<% end %>
