<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>

  <div class="span8">
  	<h3>
		Listing Posts (<%= @posts.count %>) 
    </h3> 
    <ol class="posts">
    	<%= render @posts %>
    </ol>
  	</h3>
  </div>
</div>