<footer class="footer">
  <small>
    <a href="#">Vui Cuoi Len</a>
    by Toan Nguyen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact",'#' %></li>
    </ul>
  </nav>
</footer>